/* Definições gerais */
@font-face { font-family: "OpenDyslexic"; 
    src: url('https://dl.dropboxusercontent.com/s/qfpakpjedhsrdb9/OpenDyslexicAlta-Regular.ttf'); }

body{
font-family: OpenDyslexic;}
body {
    margin: 0;
    font-family: 'OpenDyslexic', Arial, sans-serif; /* Fonte OpenDyslexic */
    line-height: 1.5; /* Opicional: melhora a legibilidade */
    background-color: #fff;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Estilos do cabeçalho */
header {
    background-color: hsl(244, 98%, 48%);
    padding: 20px 0;
    color: white;
}

header .logo h1 {
    margin: 0;
    font-size: 24px;
}

header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    font-family: 'OpenDyslexic', sans-serif; /* Exemplo de uso em um título */
}

/* Seção de destaque */
.hero {
    background-color: #4114d4;
    padding: 60px 0;
    text-align: left;
}

.hero h2 {
    font-size: 36px;
    font-family: 'OpenDyslexic', sans-serif; /* Exemplo de uso em um título */
    color: #ffffff;
}

.hero p {
    font-size: 18px;
    font-family: 'OpenDyslexic', sans-serif; /* Exemplo de uso em um título */
    color: hsl(0, 0%, 100%);
    margin: 20px 0;
}

.hero .imagem-principal {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

/* Seção de conteúdo */
.content {
    padding: 40px 0;
    text-align: center;
}

.content p {
    font-size: 18px;
    font-family: 'OpenDyslexic', sans-serif; /* Exemplo de uso em um título */
    color: #333;
}

.content .imagem-secundaria {
    width: 100%;
    max-width: 600px;
    margin-top: 20px;
}

/* Rodapé */
footer {
    background-color: #0056b3;
    color: white;
    text-align: center;
    padding: 20px 0;
}

footer p {
    margin: 0;
}