/* Reset básico */
* {
    margin: 80;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #004e9a; /* Azul de fundo conforme a imagem */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

header {
    width: 100%;
    text-align: center;
    background-color: #004e9a;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style-type: none;
    margin-bottom: 30px; /* Ajusta a posição dos botões */
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #0056b3;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #0072e3;
}

main {
    display: flex;
    align-items: center;
    width: 80%;
    max-width: 1200px;
}

section.welcome {
    display: flex;
    align-items: center;
    flex-grow: 1;
    text-align: center;
    gap: 20px; /* Espaço entre a logo e o texto */
}

.logo {
    width: 150px;
    height: auto;
    margin-right: 200px; /* Espaço entre a logo e o texto */
    align-items: left;
}

.welcome h1 {
    font-size: 2.5em;
    margin-bottom: 50px;
    text-align: center;
}

.welcome p {
    font-size: 1.2em;
    margin: 20px;
}

/* Barra lateral de cores */
body::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(to bottom, #00a800, #0073e6, #8500e4, #ff4500, #ffd700);
}
